<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <a class="navbar-brand">Fitness & Nutrition</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <h1 class="navbar-brand">&nbsp;</h1>
                </li>
                <li class="nav-item active">
                    <h1 class="navbar-brand">&nbsp;</h1>
                </li>
                <li class="nav-item active">
                        @Html.ActionLink("Login", "Login", "BMI", new { area = "" }, new { @class = "navbar-brand" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Signup", "Signup", "BMI", new { area = "" }, new { @class = "navbar-brand" })
                </li>
             </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
       

    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
